<a href="https://colab.research.google.com/github/sarasantosdev/python_dados_funcoes_estruturas_excecoes_3_exercicios/blob/main/python_dados_funcoes_estruturas_excecoes_3_exerc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estrutura de dados aninhada - Exercícios

 Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

In [1]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

In [2]:
# minha resolução
for i in range(len(lista_de_listas)):
  print(sum(lista_de_listas[i]))

24
10
16

In [118]:
# solucao do professor
for lista in lista_de_listas:
    print(sum(lista))

24
10
16

Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

In [3]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

In [121]:
# minha solução
lista_terceiro = [lista_de_tuplas[i][2] for i in range(len(lista_de_tuplas))]

lista_terceiro

[81, 67, 83]

In [119]:
# solucao do professor
lista = []
for tupla in lista_de_tuplas:
    lista.append(tupla[2])
print(lista)

[81, 67, 83]

A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [27]:
# minha solucao
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

id_nome = [(i, lista[i]) for i in range(len(lista))]

id_nome

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [122]:
# solucao do professor
lista_de_tuplas = []
for i in range(len(lista)):
    lista_de_tuplas.append((i, lista[i]))
print(lista_de_tuplas)

[(0, 81), (1, 67), (2, 83)]

Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

In [44]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

In [53]:
# minha solucao
lista_numerica = [aluguel[i][1] for i in range(len(aluguel)) if aluguel[i][0] == "Apartamento"]

lista_numerica

[1700, 1400, 1900]

In [123]:
# solucao do professor
lista = [tupla[1] for tupla in aluguel if tupla[0]== 'Apartamento']
print(lista)

[1700, 1400, 1900]

Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [56]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesas = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

In [58]:
# minha solucao
gasto_mensal = {
    mes: despesa for mes, despesa in zip(meses, despesas)
}

gasto_mensal

{'Jan': 860,
 'Fev': 490,
 'Mar': 1010,
 'Abr': 780,
 'Mai': 900,
 'Jun': 630,
 'Jul': 590,
 'Ago': 770,
 'Set': 620,
 'Out': 560,
 'Nov': 840,
 'Dez': 360}

In [124]:
# solucao do professor
dicionario = {meses[i]: despesa[i] for i in range(len(meses))}
print(dicionario)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

# Estrutura de dados aninhada - Projetos

Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [59]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

In [64]:
# minha solucao
vendas_2022 = [vendas[i] for i in range(len(vendas)) if vendas[i][0] == '2022' and vendas[i][1] > 6000]

vendas_2022

[('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

In [125]:
# solucao do professor
filtro = [tupla[1] for tupla in vendas if tupla[0] == '2022' and tupla[1] > 6000]
print(filtro)

[8883, 7688, 9544, 8190]

Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

* Glicose igual ou inferior a 70: 'Hipoglicemia'
* Glicose entre 70 a 99: 'Normal'
* Glicose entre 100 e 125: 'Alterada'
* Glicose superior a 125: 'Diabetes'


A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

In [65]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

In [85]:
# minha solucao
glicemia_valor = []

for valor in glicemia:
  if valor <= 70:
    glicemia_valor.append(('Hipoglicemia', valor))
  elif valor >= 70 and valor <= 99:
    glicemia_valor.append(('Normal', valor))
  elif valor >= 100 and valor <= 125:
    glicemia_valor.append(('Alterada', valor))
  else:
    glicemia_valor.append(('Diabetes', valor))

glicemia_valor

[('Diabetes', 129),
 ('Normal', 82),
 ('Hipoglicemia', 60),
 ('Normal', 97),
 ('Alterada', 101),
 ('Hipoglicemia', 65),
 ('Hipoglicemia', 62),
 ('Diabetes', 167),
 ('Normal', 87),
 ('Hipoglicemia', 53),
 ('Hipoglicemia', 58),
 ('Normal', 92),
 ('Hipoglicemia', 66),
 ('Alterada', 120),
 ('Alterada', 109),
 ('Hipoglicemia', 62),
 ('Normal', 86),
 ('Normal', 96),
 ('Alterada', 103),
 ('Normal', 88),
 ('Diabetes', 155),
 ('Hipoglicemia', 52),
 ('Normal', 89),
 ('Normal', 73)]

In [126]:
# solucao do professor
rotulos = [('Hipoglicemia', glicose) if glicose <= 70 else ('Normal', glicose) if glicose < 100 else ('Alterada', glicose) if glicose < 125 else ('Diabetes', glicose) for glicose in glicemia]
print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

**isso não estava no exercício, mas eu quis organizar os dados de forma agrupada**

In [77]:
# criando um dicionário de listas, solucao do gemini
glicose_valor = {}

for rotulo, valor in glicemia_valor:
  if rotulo in glicose_valor:
    glicose_valor[rotulo].append(valor)
  else:
    glicose_valor[rotulo] = [valor]

glicose_valor

{'Diabetes': [129, 167, 155],
 'Normal': [82, 97, 87, 92, 86, 96, 88, 89, 73],
 'Hipoglicemia': [60, 65, 62, 53, 58, 66, 62, 52],
 'Alterada': [101, 120, 109, 103]}

In [79]:
# criando um dicionário de listas, solucao do gemini (2)

from collections import defaultdict

glicose_agrupada = defaultdict(list)

for rotulo, valor in glicemia_valor:
  glicose_agrupada[rotulo].append(valor)

glicose_agrupada

defaultdict(list,
            {'Diabetes': [129, 167, 155],
             'Normal': [82, 97, 87, 92, 86, 96, 88, 89, 73],
             'Hipoglicemia': [60, 65, 62, 53, 58, 66, 62, 52],
             'Alterada': [101, 120, 109, 103]})

Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [92]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

In [116]:
# minha solucao
valor_total = [qtd * preco for qtd, preco in zip(quantidade, preco)]

relatorio_vendas = [
    (id, qtd, preco, total)
    for id, qtd, preco, total in zip(id, quantidade, preco, valor_total)
]

relatorio_vendas.insert(0, ('id', 'qtd', 'preco', 'total'))

relatorio_vendas

[('id', 'qtd', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [129]:
# solucao do gemini (otimizada)

id_vendas = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

cabecalho = [('id', 'quantidade', 'preco', 'total')]

relatorio_vendas_otimizado = cabecalho + [(i, q, p, q * p) for i, q, p in zip(id_vendas, quantidade, preco)]

relatorio_vendas_otimizado

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

In [128]:
# solucao do professor
tabela = [('id', 'quantidade', 'preco', 'total')]
tabela += [(id[i], quantidade[i], preco[i], quantidade[i]*preco[i]) for i in range(len(id))]
tabela

[('id', 'quantidade', 'preco', 'total'),
 (0, 15, 93.0, 1395.0),
 (1, 12, 102.0, 1224.0),
 (2, 1, 18.0, 18.0),
 (3, 15, 41.0, 615.0),
 (4, 2, 122.0, 244.0),
 (5, 11, 14.0, 154.0),
 (6, 2, 71.0, 142.0),
 (7, 12, 48.0, 576.0),
 (8, 2, 14.0, 28.0),
 (9, 4, 144.0, 576.0)]

Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil. Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence: estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

In [117]:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']

filiais = {
    estado: estados.count(estado) for estado in estados
}

filiais

{'SP': 8, 'ES': 6, 'MG': 7, 'RJ': 2}

In [130]:
#solucao do professor
estados_unicos = list(set(estados))

lista_de_listas = []
for estado in estados_unicos:
    lista = [uf for uf in estados if uf == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

contagem_valores = {estados_unicos[i]: len(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(contagem_valores)

[['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG'], ['RJ', 'RJ'], ['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['ES', 'ES', 'ES', 'ES', 'ES', 'ES']]
{'MG': 7, 'RJ': 2, 'SP': 8, 'ES': 6}

Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos e os valores são as listas com o número de colaboradores(as) referentes ao Estado. Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

In [133]:
# minha solucao
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]

colaboradores = defaultdict(list)

for estado, colaborador in funcionarios:
  colaboradores[estado].append(colaborador)

colaboradores

defaultdict(list,
            {'SP': [16, 10, 7, 11, 9, 12, 7, 10],
             'ES': [8, 9, 7, 12, 8, 14],
             'MG': [9, 6, 4, 8, 5, 10, 12],
             'RJ': [13, 9]})

In [134]:
# minha solucao
colaboradores_total = {
    estado: sum(colaborador) for estado, colaborador in colaboradores.items()
}

colaboradores_total

{'SP': 82, 'ES': 58, 'MG': 54, 'RJ': 22}

In [132]:
# solucao do professor
estados_unicos = list(set([tupla[0] for tupla in funcionarios]))

lista_de_listas = []
for estado in estados_unicos:
    lista = [tupla[1] for tupla in funcionarios if tupla[0] == estado]
    lista_de_listas.append(lista)
print(lista_de_listas)

agrupamento_por_estado = {estados_unicos[i]: lista_de_listas[i] for i in range(len(estados_unicos))}
print(agrupamento_por_estado)

soma_por_estado = {estados_unicos[i]: sum(lista_de_listas[i]) for i in range(len(estados_unicos))}
print(soma_por_estado)

[[9, 6, 4, 8, 5, 10, 12], [13, 9], [16, 10, 7, 11, 9, 12, 7, 10], [8, 9, 7, 12, 8, 14]]
{'MG': [9, 6, 4, 8, 5, 10, 12], 'RJ': [13, 9], 'SP': [16, 10, 7, 11, 9, 12, 7, 10], 'ES': [8, 9, 7, 12, 8, 14]}
{'MG': 54, 'RJ': 22, 'SP': 82, 'ES': 58}